<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<!--  
<mapper namespace="com.netease.shop.dao.GetAccount">
    <select id="getAcc" parameterType="int"
       resultMap ="UserMap">
       select  person.id as personId ,content.id as contentId,icon,title,trx.price,buynum From
person left join trx on person.id = trx.personId left join content on
trx.contentId = content.id Where person.id =#{id}
     
</select>
    
    <resultMap id="UserMap" 
        type="com.netease.shop.meta.User">
	      <!-- 对容器进行赋值  property的名字要和javabean中的名字相同
	      <collection property ="Product"
	         ofType="com.netease.shop.meta.Productdetail" >
	         <id property="id" column="contentId" />
	         <result property="title" column ="title"/>
	         <result property="price" column="price" />
	         <result property="image" column ="icon"/>
	         <result property="price" column="price" />
	       </collection>
    </resultMap>
   
</mapper>
--> 